.gallery {
    --s: 70px; /* control the slanted part */
    
    display: grid;
    height: 230px;
    gap: 10px;
    grid-auto-flow: column;
    place-items: center;
  }
  .gallery > img {
    width: 0;
    min-width: calc(100% + var(--s));
    height: 0;
    min-height: 100%;
    object-fit: cover;
    clip-path: polygon(var(--s) 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
    cursor: pointer;
    transition: .5s;
  }
  .gallery > img:hover {
    width: 15vw; 
  }
  .gallery > img:first-child {
    min-width: calc(100% + var(--s)/2);
    place-self: start;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
  }
  .gallery > img:last-child {
    min-width: calc(100% + var(--s)/2);
    place-self: end;
    clip-path: polygon(var(--s) 0,100% 0,100% 100%,0 100%);
  }